* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
}



header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 7%;
    padding-left: 7%;
    height: 6rem;
    align-items: center;
}